.companiValue-title {
  color: #1e212c;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.companiValue-text {
  margin-top: 24px;

  color: #787a80;
  text-align: center;
  font-family: Ubuntu;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.companiValue__list {
  --mission-gap: 94px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 27px;
  gap: calc(var(--mission-gap) * 2);

  margin-top: 60px;

  @media (max-width: 1200px) {
    --mission-gap: 54px;
  }

  @media (max-width: 769px) {
    --mission-gap: 24px;
  }
  @media (max-width: 769px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.companiValue__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.companiValue__item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: calc(-1 * var(--mission-gap));
  background: linear-gradient(
    315deg,
    rgba(218, 219, 221, 0) 0%,
    rgba(218, 219, 221, 0.5) 12.33%,
    #dadbdd 51.91%,
    rgba(218, 219, 221, 0.5) 87.85%,
    rgba(218, 219, 221, 0) 100%
  );
  top: 0;
  width: 1px;
  height: 100%;

  @media (max-width: 769px) {
    padding: 0 5px;
  }
}

.companiValue__values--text {
  margin-top: 8px;
  color: #787a80;
  text-align: center;

  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.companiValue__values--title {
  margin-top: 24px;
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
