.heroNews__section {
  position: relative;
  padding: 152px 0 106px 0;
  background-color: #f4f5f6;
  margin-top: -92px;
  overflow: hidden;
}

.heroNews__section::before {
  content: "";
  max-width: 975px;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 0px;
  right: 0;

  background-image: url("../../../image/NewsHero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroNews__section::after {
  content: "";
  max-width: 975px;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 0px;
  right: 0;
  background: linear-gradient(
    90deg,
    #f4f5f6 0%,
    rgba(244, 245, 246, 0.86) 11.48%,
    rgba(244, 245, 246, 0) 41.15%
  );
}

.heroNews__wraper--content {
  position: relative;
  z-index: 1;
  max-width: 600px;
  width: 100%;
  height: 362px;
}

.heroNews__title {
  margin-top: 40px;
  color: #1e212c;
}
