.projectConstructive__section {
  padding: 80px 0 0 0;
  background: #f4f5f6;

  @media (max-width: 949px) {
    padding-bottom: 40px;
  }
}

.projectConstructive__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: 949px) {
    justify-content: center;
    align-items: center;
  }
}

.projectConstructive__wrapper--img {
  position: relative;
  margin-bottom: -60px;
  width: 495px;
  height: 550px;
  @media (max-width: 949px) {
    display: none;
  }
}

.projectConstructive__img {
  position: relative;
  max-width: 495px;
  width: 100%;
  object-fit: cover;
}

.projectConstructive__wrapper--ul {
  max-width: 600px;
  width: 100%;
}

.projectConstructive__title {
  color: #1e212c;
  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.projectConstructive__list {
  margin-top: 60px;
}

.projectConstructive__item {
  display: flex;
}

.projectConstructive__item:not(:first-child) {
  margin-top: 20px;
}

.projectConstructive__item--text {
  margin-left: 16px;
  color: #424551;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.projectConstructive__section--slider {
  padding: 80px 0 125px 0;
}

.projectConstructive__wrapper--svg {
  width: 20px;
  height: 20px;
}
