.factHome__section {
  position: relative;
  padding: 180px 0 90px 0;
}

.factHome__section::before {
  content: "";
  position: absolute;
  left: -9px;
  top: -195px;
  width: 570px;
  height: 1065px;
  background-image: url(../../image/FactHome.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 769px) {
  .factHome__section::before {
    width: 320px;
    left: 0px;
    top: 150px;
  }
}

.factHome__title {
  margin-bottom: 60px;
  color: #1e212c;
  text-align: center;
  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: 620px) {
    font-size: 36px;
  }
}

.factHome__list {
  align-items: center;
  justify-content: center;
  display: flex;
  @media (max-width: 769px) {
    flex-wrap: wrap;
  }
}

.factHome__text {
  margin-top: 20px;

  color: #1e212c;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.factHome__item:not(:first-child) {
  margin-left: 48px;

  @media (max-width: 789px) {
    margin-left: 0px;
  }
}

.factHome__item {
  @media (max-width: 789px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
  }
}
