.newsCategories__section {
  padding: 120px 0 180px 0;
}

.newsCategories__title {
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.newsCategories__list {
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1230px) {
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}

.newsCategories__item {
  width: 200px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid transparent;

  color: #9a9ca5;

  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;

  cursor: pointer;
  transition: transform 0.3s;

  @media (max-width: 1230px) {
    width: calc(33.33% - 10px);
  }
  @media (max-width: 687px) {
    width: calc(50% - 10px);
  }
}

.newsCategories__item:hover {
  transform: scale(1.3);
}

.newsCategories__item--activ {
  border: 1px solid #ff5a30;
  color: #ff5a30;
}

.news__list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  @media (max-width: 1245px) {
    justify-content: center;
    align-items: center;
  }
}

.news__item {
  width: calc(50%-15px);
}

.wrapper__pagination {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
}

.pagination__item {
  cursor: pointer;
  margin-left: 20px;
  color: #424551;

  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.pagination__next {
  cursor: pointer;
  margin-left: 20px;
}

.pagination__active {
  color: #ff5a30;
  font-style: bold;
}

.pagination__previous {
  cursor: pointer;
}

.pagination__break {
  margin-left: 20px;
}

.newsCategories__zero {
  display: flex;
  justify-content: center;
  align-items: first baseline;
  height: 1725px;
}
