.sliderCV__img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.sliderCV__img--mini {
  width: 100px;
  height: 100px;
  object-fit: cover;

  @media (max-width: 769px) {
    width: 80px;
    height: 80px;
  }
}

.wrapper__sliderCV .slick-dots li {
  border-radius: 4px;
  opacity: 0.6;
  width: 100px;
  height: 100px;

  @media (max-width: 769px) {
    width: 80px;
    height: 80px;
  }
}

.wrapper__sliderCV .slick-dots {
  bottom: auto;
  text-align: start;
  gap: 10px;
  margin-top: 20px;
}

.wrapper__sliderCV .slick-dots .slick-active {
  opacity: 1;
}

@media (max-width: 769px) {
  .wrapper__sliderCV .sliderCV-arrow {
    display: none;
  }
}
