.work__section {
  padding: 80px 0 0 0;
  background-color: #f4f5f6;
}

.work__title {
  margin-bottom: 32px;
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.work__wrapper--reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.work__wrapper--reviewsSlider {
  width: 600px;
}

.work__title--reviews {
  margin-bottom: 60px;
}

.work__wrapper--img {
  position: relative;
}

.work__img {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  margin-bottom: -60px;
}

.workClients__section {
  padding: 120px 0 92px 0;
}
