.aboutUsHistory__section {
  padding: 100px 0;
}

.aboutUsHistory__title {
  color: #1e212c;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.aboutUsHistory__wrapper--slide {
  max-width: 810px;
  width: 100%;
}

.aboutUsHistory__slide--img {
  border-radius: 4px;
}

.aboutUsHistory__slide--text {
  margin-top: 46px;
  color: #424551;
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.slick-dots li {
  width: 250px;
  height: 42px;
}

.slick-dots li:not(:first-child) {
  margin-top: 20px;
}

.slick-list {
  margin-left: 130px;
}

.custom-dots {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.custom-dots--itenm:not(:first-child) {
  margin-top: 20px;
}

.custom-dot {
  display: flex;
  align-items: center;
}

.custom-dot.active .dot-text {
  color: #333;
}

.customDots__circle {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #9a9ca5;
}

.customDots__circle::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 62px;
  background-color: #9a9ca5;
}

.customDots__text {
  margin-left: 32px;
  color: #9a9ca5;

  font-family: Ubuntu;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.slick-slider {
  margin-top: 60px;
  display: flex;
  flex-direction: row-reverse;
}

.slick-dots {
  position: static;
}

.slick-active .customDots__circle {
  background-color: #ff5a30;
}

.slick-active .customDots__circle::after {
  background-color: #ff5a30;
}

.slick-active .customDots__text {
  color: #ff5a30;
}
