.servicesDoIT__section {
  padding: 90px 0 120px 0;
}

.servicesDoIT__title {
  color: #1e212c;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.servicesDoIT__list {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}

.servicesDoIT__item {
  position: relative;
  max-width: 285px;
  width: 100%;
}

.servicesDoIT__item:hover .servicesDoIT__number::before,
.servicesDoIT__item:focus .servicesDoIT__number::before {
  visibility: visible;
  animation: pulse 2s infinite ease-in-out;
}

.servicesDoIT__number--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.servicesDoIT__number {
  color: #d7dadd;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.servicesDoIT__number::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 25px;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #ff5a30 30%, transparent 70%);
  border-radius: 50%;
  opacity: 0.8;
  z-index: -1;
  visibility: hidden;
}

@keyframes pulse {
  0% {
    transform: translateX(-50%) scale(0.8);
    opacity: 0;
  }
  50% {
    transform: translateX(-50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translateX(-50%) scale(1.2);
    opacity: 0;
  }
}

.servicesDoIT__title--item {
  margin-top: 16px;
  color: #1e212c;

  font-family: Ubuntu;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.servicesDoIT__text--item {
  margin-top: 8px;
  color: #787a80;

  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
