.project__home--title {
  margin-bottom: 60px;
  color: #1e212c;
  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.project__home--custom-arrow {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: transparent;

  transition: background-color 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.project__home--custom-arrow:hover,
.project__home--custom-arrow:focus {
  background-color: #ff5a30;
}

.project__home--wrapper {
  position: relative;
}

/* .project__home--custom-arrowLeft {
  position: absolute;
  top: 0;
  right: 0;
} */
