.heroServices__section--InteriorDesing {
  position: relative;
  padding: 152px 0 106px 0;
  background-color: #f4f5f6;
  margin-top: -92px;
}

.heroServices__section--InteriorDesing::before {
  content: "";
  max-width: 975px;
  width: 100%;
  height: 620px;
  position: absolute;
  top: 0px;
  right: 0;
  opacity: 0.8;

  background-image: url("../../../image//HeroPortfolio.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
