.newsHome__section {
  padding: 90px 0 125px 0;
}

.newsHome__title {
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.newsHome__wrapperCard {
  margin-top: 60px;
}
