.partnersHome__section {
  padding: 80px 0 0 0;
  background-color: #f4f5f6;
}

.partnersHome__title {
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.partnersHome__slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 144px;
}

.partnersHome__wrapper--reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.partnersHome__wrapper--reviewsSlider {
  width: 600px;
}

.partnersHome__title--reviews {
  margin-bottom: 60px;
}

.partnersHome__wrapper--img {
  position: relative;
  /* width: 495px;
  height: 550px; */
}

.partnersHome__img {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  margin-bottom: -60px;
}
