.partnersHome__section {
  padding: 80px 0 0 0;
  background-color: #f4f5f6;
}

.partnersHome__title {
  color: #1e212c;
  text-align: center;

  font-family: Ubuntu;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;

  @media (max-width: 600px) {
    font-size: 36px;
  }
}

.partnersHome__slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 188px;
  height: 144px;
}

.partnersHome__wrapper--reviews {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;

  @media (max-width: 949px) {
    justify-content: center;
    align-items: center;
    margin-top: 60px;
  }
}

.partnersHome__wrapper--reviewsSlider {
  width: 600px;
  @media (max-width: 769px) {
    width: 100%;
  }
}

.partnersHome__title--reviews {
  margin-bottom: 60px;
}

.partnersHome__wrapper--img {
  position: relative;
}

.partnersHome__img {
  position: relative;
  border-radius: 4px;
  z-index: 1;
  margin-bottom: -60px;

  max-width: 495px;
  width: 100%;
  object-fit: cover;
  @media (max-width: 949px) {
    display: none;
  }
}
